# **ì–‘ìê³¼í•™ê¸°ìˆ  ì €ìëª… í†µì¼**

- column 'matched'ë¡œ í‘œì‹œëœ rowëŠ” ì •í™•í•œ ì •ë³´ë¥¼ ì˜ë¯¸í•¨
- WoSì—ì„œ ì ˆë°˜ë°–ì— ì œê³µí•˜ì§€ ì•ŠìŒ
- affiliation ì •ë³´ê°€ ìˆëŠ” ì €ìë§Œ ì •í™•í•œ ì •ë³´ë¼ê³  ë³¼ ìˆ˜ ìˆìŒ

### Rule-based Approach

In [3]:
import pandas as pd
import numpy as np

dir = 'H:/GD_awekimm/[YU]/[Project]/[Quantum]/Quantum_2nd/04_Analysis/QuanTech_R2/R file/'

# 1, 2, 3ë‹¨ê³„ëŠ” ì´ì „ê³¼ ì™„ì „íˆ ë™ì¼í•©ë‹ˆë‹¤.
# 1. ë°ì´í„° ë¡œë”© ë° ì „ì²˜ë¦¬
df = pd.read_csv(dir+'quant_author_ed_eu_val.csv')
inst = pd.read_csv(dir+'quant_inst_ed_eu_val_cleaned.csv')

required_columns = [
    'pubid', 'city', 'country', 'pubyear', 'author_id_te', 
    'full_name', 'matched', 'organization_cleaned', 'suborganization_cleaned'
]
df = df[required_columns]
inst = inst[['pubid', 'organization_cleaned', 'suborganization_cleaned']]

df = df.drop_duplicates()
df['full_name'] = df['full_name'].str.replace(r'\.$', '', regex=True)

# 2. 'matched'ì™€ 'rest' ë°ì´í„° ë¶„ë¦¬ ë° ì¤€ë¹„
df_matched = df[df['matched'] == 'matched'].copy()
df_rest = df[df['matched'] == 'rest'].copy()

df_rest = df_rest.drop(columns=['organization_cleaned', 'suborganization_cleaned'])
df_rest = pd.merge(df_rest, inst, on='pubid', how='left')

df_final = pd.concat([df_matched, df_rest], ignore_index=True)

# 3. ID í†µì¼ ë¡œì§ ì‹¤í–‰
min_ids = df_final.groupby(['full_name', 'organization_cleaned'])['author_id_te'].min()
matched_ids = df_final[df_final['matched'] == 'matched'].groupby(['full_name', 'organization_cleaned'])['author_id_te'].first()
canonical_s = matched_ids.combine_first(min_ids)
canonical_ids = canonical_s.reset_index(name='canonical_id')
canonical_ids['canonical_id'] = canonical_ids['canonical_id'].astype(df_final['author_id_te'].dtype)

df_final = df_final.merge(canonical_ids, on=['full_name','organization_cleaned'], how='left')

final_id_from_matched = df_final[df_final['matched'] == 'matched'].groupby('full_name')['canonical_id'].first()
default_final_id = df_final.groupby('full_name')['canonical_id'].min()
final_id_map = final_id_from_matched.combine_first(default_final_id)
df_final['author_id_te_cleaned'] = df_final['full_name'].map(final_id_map)

df_final['cleaned_or_not'] = np.where(
    df_final['author_id_te'] == df_final['author_id_te_cleaned'], 'original', 'cleaned'
)
df_final = df_final.drop(columns=['canonical_id'])


# --- â­ï¸ ì—¬ê¸°ì„œë¶€í„° ìˆ˜ì •ëœ ë§¤ì¹­ ë¡œì§ ì‹œì‘ â­ï¸ ---

print("ID í†µì¼ ì™„ë£Œ. 'rest' ì €ì ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...")

# 4. 'rest' ì €ì ë§¤ì¹­ì„ ìœ„í•œ ì¤€ë¹„
# 4-1. ì €ì í”„ë¡œí•„ ìƒì„± (ê¸°ì¡´ê³¼ ë™ì¼)
author_history = df_final.groupby('author_id_te_cleaned')['organization_cleaned'].unique().apply(list)

# 4-2. ë…¼ë¬¸ë³„ ì°¸ì—¬ ê¸°ê´€ ëª©ë¡ ìƒì„± (ê¸°ì¡´ê³¼ ë™ì¼)
pub_orgs = df_final.groupby('pubid')['organization_cleaned'].unique().apply(list)

# â­ï¸ (ê·œì¹™ ì¶”ê°€) 4-3. ë…¼ë¬¸ë³„ 'ì œì™¸í•  ê¸°ê´€' ë§µ ìƒì„±
# matched ì €ìì˜ ì†Œì† ê¸°ê´€ì€ ë‹¤ë¥¸ rest ì €ìë“¤ì˜ í›„ë³´ì—ì„œ ì œì™¸í•©ë‹ˆë‹¤.
forbidden_orgs_map = df_final[df_final['matched'] == 'matched'].groupby('pubid')['organization_cleaned'].first()

# 4-4. ì²˜ë¦¬í•  'rest' ë°ì´í„° ë¶„ë¦¬ (ê¸°ì¡´ê³¼ ë™ì¼)
final_matched = df_final[df_final['matched'] == 'matched'].copy()
final_rest = df_final[df_final['matched'] == 'rest'].copy()


# 5. 'rest' ì €ì ë§¤ì¹­ ì‹œë„
rest_unique_authors = final_rest.drop_duplicates(subset=['pubid', 'author_id_te_cleaned']).copy()

# â­ï¸ (ê·œì¹™ ì¶”ê°€) ë§¤ì¹­ í•¨ìˆ˜ì— 'ì œì™¸ ê·œì¹™' ë¡œì§ ì¶”ê°€
def find_likely_org_with_rule(row, author_history_map, pub_orgs_map, forbidden_map):
    author_id = row['author_id_te_cleaned']
    pub_id = row['pubid']
    
    history_orgs = author_history_map.get(author_id, [])
    # ì›ë³¸ ë¦¬ìŠ¤íŠ¸ ìˆ˜ì •ì„ ë°©ì§€í•˜ê¸° ìœ„í•´ .copy() ì‚¬ìš©
    candidate_orgs = pub_orgs_map.get(pub_id, []).copy()
    
    # ìƒˆë¡œìš´ ê·œì¹™ ì ìš©: ì´ ë…¼ë¬¸ì˜ 'ì œì™¸í•  ê¸°ê´€'ì´ ìˆë‹¤ë©´ í›„ë³´êµ°ì—ì„œ ì œê±°
    forbidden_org = forbidden_map.get(pub_id)
    if forbidden_org and forbidden_org in candidate_orgs:
        candidate_orgs.remove(forbidden_org)
            
    # í•„í„°ë§ëœ í›„ë³´êµ°ê³¼ ì €ì ì´ë ¥ì„ ë¹„êµ
    intersection = [org for org in candidate_orgs if org in history_orgs]
    
    if len(intersection) == 1:
        return intersection[0]
    else:
        return np.nan

# ìˆ˜ì •ëœ ë§¤ì¹­ í•¨ìˆ˜ë¥¼ ì ìš©
rest_unique_authors['likely_organization'] = rest_unique_authors.apply(
    lambda row: find_likely_org_with_rule(row, author_history, pub_orgs, forbidden_orgs_map), axis=1
)

# 6. ê²°ê³¼ ê²°í•© (ì´ì „ê³¼ ë™ì¼)
rest_matched_success = rest_unique_authors.dropna(subset=['likely_organization'])
rest_matched_success['organization_cleaned'] = rest_matched_success['likely_organization']
rest_matched_success = rest_matched_success[final_matched.columns] 

failed_keys = rest_unique_authors[rest_unique_authors['likely_organization'].isna()][['pubid', 'author_id_te_cleaned']]
rest_still_unmatched = pd.merge(final_rest, failed_keys, on=['pubid', 'author_id_te_cleaned'])

final_combined = pd.concat([final_matched, rest_matched_success, rest_still_unmatched], ignore_index=True)

# 7. ìµœì¢… ì €ì¥ (ì´ì „ê³¼ ë™ì¼)
final_combined = final_combined.drop_duplicates()
final_combined.to_parquet(dir + 'quant_author_ed_eu_val_final_matched.parquet')


print("ëª¨ë“  ì‘ì—… ì™„ë£Œ. ìµœì¢… ë°ì´í„°ê°€ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.")
matched_count = len(rest_matched_success)
total_rest_authors = len(rest_unique_authors)
print(f"ì´ {total_rest_authors}ê°œì˜ 'rest' ì €ì-ë…¼ë¬¸ ì¡°í•© ì¤‘ {matched_count}ê°œë¥¼ ìƒˆë¡œìš´ ê·œì¹™ì— ë”°ë¼ ë§¤ì¹­ ì„±ê³µ!")

ID í†µì¼ ì™„ë£Œ. 'rest' ì €ì ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...

C:\Users\user\AppData\Local\Temp\ipykernel_38460\2453380497.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rest_matched_success['organization_cleaned'] = rest_matched_success['likely_organization']

ëª¨ë“  ì‘ì—… ì™„ë£Œ. ìµœì¢… ë°ì´í„°ê°€ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.
ì´ 41547ê°œì˜ 'rest' ì €ì-ë…¼ë¬¸ ì¡°í•© ì¤‘ 15492ê°œë¥¼ ìƒˆë¡œìš´ ê·œì¹™ì— ë”°ë¼ ë§¤ì¹­ ì„±ê³µ!

In [4]:
final_combined.head()

,pubid,city,country,pubyear,author_id_te,full_name,matched,organization_cleaned,suborganization_cleaned,author_id_te_cleaned,cleaned_or_not
0,52091.0,LAQUILA,ITALY,1998,5945201.0,"Carelli, P",matched,UNIVERSITY OF AQUILA,DIPARTIMENTO ENERGET,5945201.0,original
1,62208.0,BERLIN,GERMANY,1998,3941773.0,"Beyer, J",matched,PHYSIKALISCH-TECHNISCHE BUNDESANSTALT (PTB),PHYS TECH BUNDESANSTALT,3941773.0,original
2,114324.0,JENA,GERMANY,1998,35695931.0,"Schmidl, F",matched,FRIEDRICH SCHILLER UNIVERSITY OF JENA,INST FESTKORPERPHYS,35695931.0,original
3,260373.0,JULICH,GERMANY,1998,6902516.0,"Chesca, B",matched,FORSCHUNGSZENTRUM JULICH,INST SCHICHT & IONENTECH,6902516.0,original
4,273661.0,JULICH,GERMANY,1998,7320318.0,"Chong, Y",matched,FORSCHUNGSZENTRUM JULICH,INST SCHICHT & IONENTECH,7320318.0,original

### Hybrid version

In [15]:
import pandas as pd
import numpy as np
from collections import Counter

# íŒŒì¼ ê²½ë¡œ ì„¤ì •
dir = 'D:/GD_awekimm/[YU]/[Project]/[Quantum]/Quantum_2nd/04_Analysis/QuanTech_R2/R file/'

# =================================================================
# [1ë‹¨ê³„] ì´ˆê¸° ë°ì´í„° ì¤€ë¹„ ë° ID í†µí•©
# =================================================================
print("[1ë‹¨ê³„] ë°ì´í„° ë¡œë”© ë° ID í†µí•©ì„ ì‹œì‘í•©ë‹ˆë‹¤...")

# ë°ì´í„° ë¡œë”© ë° ê¸°ë³¸ ì „ì²˜ë¦¬
df = pd.read_csv(dir+'quant_author_ed_eu_val.csv')
inst = pd.read_csv(dir+'quant_inst_ed_eu_val_cleaned.csv')

# 'suborganization_cleaned'ë¥¼ í•„ìš”í•œ ì»¬ëŸ¼ì—ì„œ ì œì™¸
required_columns = [
    'pubid', 'city', 'country', 'pubyear', 'author_id_te',
    'full_name', 'matched', 'organization_cleaned'
]
df = df[required_columns].drop_duplicates()
df['full_name'] = df['full_name'].str.replace(r'\.$', '', regex=True)
inst = inst[['pubid', 'organization_cleaned']]

# ID í†µì¼ì„ ìœ„í•œ ë°ì´í„° ì¤€ë¹„
df_matched = df[df['matched'] == 'matched'].copy()
df_rest = df[df['matched'] == 'rest'].copy()
df_rest_for_id = pd.merge(
    df_rest.drop(columns=['organization_cleaned']),
    inst, on='pubid', how='left'
)
df_for_id_unification = pd.concat([df_matched, df_rest_for_id], ignore_index=True)

# ì €ì ì´ë¦„ê³¼ ê¸°ê´€ ê¸°ë°˜ìœ¼ë¡œ ID í†µì¼
min_ids = df_for_id_unification.groupby(['full_name', 'organization_cleaned'])['author_id_te'].min()
matched_ids = df_for_id_unification[df_for_id_unification['matched'] == 'matched'].groupby(['full_name', 'organization_cleaned'])['author_id_te'].first()
canonical_s = matched_ids.combine_first(min_ids)
canonical_ids = canonical_s.reset_index(name='canonical_id')
df_for_id_unification = df_for_id_unification.merge(canonical_ids, on=['full_name', 'organization_cleaned'], how='left')

# ì €ì ì´ë¦„ ê¸°ë°˜ ìµœì¢… ID('author_id_te_cleaned') ìƒì„±
final_id_from_matched = df_for_id_unification[df_for_id_unification['matched'] == 'matched'].groupby('full_name')['canonical_id'].first()
default_final_id = df_for_id_unification.groupby('full_name')['canonical_id'].min()
final_id_map = final_id_from_matched.combine_first(default_final_id)
df_for_id_unification['author_id_te_cleaned'] = df_for_id_unification['full_name'].map(final_id_map)

# ì›ë³¸ ë°ì´í„°ì— í†µì¼ëœ ID ë¶€ì°©
df_rest = pd.merge(df_rest, df_for_id_unification[['pubid', 'author_id_te', 'author_id_te_cleaned']].drop_duplicates(), on=['pubid', 'author_id_te'])
print("ID í†µí•© ì™„ë£Œ.")

# =================================================================
# [2ë‹¨ê³„] PASS 1: ê·œì¹™ ê¸°ë°˜ ì •ë°€ ë§¤ì¹­
# =================================================================
print("\n[2ë‹¨ê³„] PASS 1: ê·œì¹™ ê¸°ë°˜ ì •ë°€ ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...")

author_history = df_for_id_unification.groupby('author_id_te_cleaned')['organization_cleaned'].unique().apply(list)
pub_orgs = df_for_id_unification.groupby('pubid')['organization_cleaned'].unique().apply(list)
forbidden_orgs_map = df_for_id_unification[df_for_id_unification['matched'] == 'matched'].groupby('pubid')['organization_cleaned'].first()

def find_likely_org_with_rule(row, author_history_map, pub_orgs_map, forbidden_map):
    author_id, pub_id = row['author_id_te_cleaned'], row['pubid']
    history_orgs = author_history_map.get(author_id, [])
    candidate_orgs = pub_orgs_map.get(pub_id, []).copy()
    forbidden_org = forbidden_map.get(pub_id)
    if forbidden_org and forbidden_org in candidate_orgs:
        candidate_orgs.remove(forbidden_org)
    intersection = [org for org in candidate_orgs if org in history_orgs]
    return intersection[0] if len(intersection) == 1 else np.nan

df_rest['likely_organization'] = df_rest.apply(lambda row: find_likely_org_with_rule(row, author_history, pub_orgs, forbidden_orgs_map), axis=1)

rest_pass1_success = df_rest.dropna(subset=['likely_organization']).copy()
rest_pass1_success['organization_cleaned'] = rest_pass1_success['likely_organization']
rest_pass1_success['match_method'] = 'Rule-Based'
rest_still_unmatched = df_rest[df_rest['likely_organization'].isna()].copy()
print(f"PASS 1 ê²°ê³¼: {len(rest_pass1_success)} ê±´ ë§¤ì¹­ ì„±ê³µ.")

# =================================================================
# [3ë‹¨ê³„] PASS 2: ì¶”ë¡  ê¸°ë°˜ í¬ê´„ì  ë§¤ì¹­
# =================================================================
print("\n[3ë‹¨ê³„] PASS 2: ì¶”ë¡  ê¸°ë°˜ í¬ê´„ì  ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...")

inst_location_map = df_matched.groupby('organization_cleaned')[['city', 'country']].first().to_dict('index')
pub_org_map_inference = df_matched.groupby('pubid')['organization_cleaned'].unique().apply(list).to_dict()

candidate_orgs_list = []
for _, row in rest_still_unmatched.iterrows():
    candidates = pub_org_map_inference.get(row['pubid'], [])
    possible_orgs = inst[inst['pubid'] == row['pubid']]['organization_cleaned'].unique()
    for org in possible_orgs:
        loc = inst_location_map.get(org)
        if loc and loc['city'] == row['city'] and loc['country'] == row['country']:
            candidates.append(org)
    candidate_orgs_list.append(candidates)
rest_still_unmatched['candidate_orgs'] = candidate_orgs_list

author_profiles = {}
for _, row in pd.concat([df_matched, rest_pass1_success]).iterrows():
    author_profiles.setdefault(row['full_name'], []).append(row['organization_cleaned'])
for _, row in rest_still_unmatched.iterrows():
    author_profiles.setdefault(row['full_name'], []).extend(row['candidate_orgs'])

inferred_org_map = {}
frequent_authors = set(df['full_name'].value_counts().loc[lambda x: x >= 5].index)
for author, org_list in author_profiles.items():
    if not org_list: continue
    counts = Counter(org_list)
    most_common_org, top_count = counts.most_common(1)[0]
    if author in frequent_authors:
        if (top_count / len(org_list)) >= 0.8:
            inferred_org_map[author] = most_common_org
    else:
        inferred_org_map[author] = most_common_org

rest_still_unmatched['inferred_org'] = rest_still_unmatched['full_name'].map(inferred_org_map)
rest_pass2_success = rest_still_unmatched.dropna(subset=['inferred_org']).copy()
rest_pass2_success['organization_cleaned'] = rest_pass2_success['inferred_org']
rest_pass2_success['match_method'] = 'Inference-Based'
rest_final_unmatched = rest_still_unmatched[rest_still_unmatched['inferred_org'].isna()]
print(f"PASS 2 ê²°ê³¼: {len(rest_pass2_success)} ê±´ ì¶”ê°€ ë§¤ì¹­ ì„±ê³µ.")


# =================================================================
# [4ë‹¨ê³„] ìµœì¢… ê²°ê³¼ ì¢…í•© ë° ëŒ€í‘œ ê¸°ê´€/ì €ì í†µì¼
# =================================================================
print("\n[4ë‹¨ê³„] ìµœì¢… ê²°ê³¼ë¥¼ ì¢…í•©í•˜ê³  ëŒ€í‘œ ê¸°ê´€/ì €ì ì •ë³´ë¥¼ í†µì¼í•©ë‹ˆë‹¤...")

# 4-1. ëª¨ë“  ë°ì´í„° ê·¸ë£¹ ê²°í•© ì¤€ë¹„
df_matched = pd.merge(df_matched, df_for_id_unification[['pubid', 'author_id_te', 'author_id_te_cleaned']].drop_duplicates(), on=['pubid', 'author_id_te'], how='left')
df_matched['match_method'] = 'Original'
rest_final_unmatched['match_method'] = 'Unmatched'

# 4-2. ëª¨ë“  ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ë¡œ ê²°í•©
final_output_columns = [
    'pubid', 'city', 'country', 'pubyear', 'author_id_te',
    'full_name', 'matched', 'organization_cleaned',
    'author_id_te_cleaned', 'match_method'
]
detailed_df = pd.concat([
    df_matched.reindex(columns=final_output_columns),
    rest_pass1_success.reindex(columns=final_output_columns),
    rest_pass2_success.reindex(columns=final_output_columns),
    rest_final_unmatched.reindex(columns=final_output_columns)
], ignore_index=True)

# 4-3. ì €ìë³„ ëŒ€í‘œ ê¸°ê´€ ì„ ì • ë° ì¼ê´„ ì—…ë°ì´íŠ¸
# ê·œì¹™ 1: 'matched' ê¸°ë¡ì´ ìˆëŠ” ì €ìì˜ ëŒ€í‘œ ê¸°ê´€ ì„ ì •
matched_records = detailed_df[detailed_df['matched'] == 'matched'].copy()
matched_records_sorted = matched_records.sort_values(by=['author_id_te_cleaned', 'pubyear'], ascending=[True, False])
matched_map = matched_records_sorted.drop_duplicates(subset='author_id_te_cleaned', keep='first')
matched_map = matched_map.set_index('author_id_te_cleaned')['organization_cleaned']

# ê·œì¹™ 2: 'rest' ê¸°ë¡ë§Œ ìˆëŠ” ì €ìì˜ ëŒ€í‘œ ê¸°ê´€ ì„ ì • (ê°€ì¥ ë¹ˆë²ˆí•œ ê¸°ê´€)
rest_map = {}
for author_name, org_list in author_profiles.items():
    if org_list:
        most_common_org = Counter(org_list).most_common(1)[0][0]
        rest_map[author_name] = most_common_org

author_id_mapping = df_for_id_unification[['full_name', 'author_id_te_cleaned']].dropna().drop_duplicates()
name_to_id = author_id_mapping.set_index('full_name')['author_id_te_cleaned']
rest_map_by_id = {}
for name, org in rest_map.items():
    if name in name_to_id.index:
        author_id = name_to_id[name]
        rest_map_by_id[author_id] = org

final_canonical_map = matched_map.combine_first(pd.Series(rest_map_by_id))
detailed_df['organization_cleaned'] = detailed_df['author_id_te_cleaned'].map(final_canonical_map)

# 4-4. ìµœì¢… ë°ì´í„° ì •ë¦¬
final_df = detailed_df.drop_duplicates(subset=['author_id_te_cleaned', 'pubid'])

# =================================================================
# [5ë‹¨ê³„] ê¸°ê´€ë³„ ëŒ€í‘œ êµ­ê°€/ë„ì‹œ í†µì¼
# =================================================================
print("\n[5ë‹¨ê³„] ê¸°ê´€ë³„ ëŒ€í‘œ êµ­ê°€ ë° ë„ì‹œ ì •ë³´ë¥¼ í†µì¼í•©ë‹ˆë‹¤...")

# ê° ê¸°ê´€ë³„ë¡œ ê°€ì¥ ë¹ˆë²ˆí•˜ê²Œ ë“±ì¥í•˜ëŠ” êµ­ê°€ë¥¼ 'ëŒ€í‘œ êµ­ê°€'ë¡œ ì„ ì •
canonical_country_map = final_df.groupby('organization_cleaned')['country'].apply(lambda x: x.mode()[0] if not x.empty else None)
final_df['country'] = final_df['organization_cleaned'].map(canonical_country_map)

# ê° ê¸°ê´€ë³„ë¡œ ê°€ì¥ ë¹ˆë²ˆí•˜ê²Œ ë“±ì¥í•˜ëŠ” ë„ì‹œë¥¼ 'ëŒ€í‘œ ë„ì‹œ'ë¡œ ì„ ì •
canonical_city_map = final_df.groupby('organization_cleaned')['city'].apply(lambda x: x.mode()[0] if not x.empty else None)
final_df['city'] = final_df['organization_cleaned'].map(canonical_city_map)


# =================================================================
# [6ë‹¨ê³„] ìµœì¢… ì €ì¥ ë° ìš”ì•½
# =================================================================
print("\n[6ë‹¨ê³„] ìµœì¢… ë°ì´í„°ë¥¼ ì €ì¥í•©ë‹ˆë‹¤...")
final_df.to_parquet(dir + 'quant_author_ed_eu_val_final_unified.parquet', index=False)
final_df.to_csv(dir + 'quant_author_ed_eu_val_final_unified.csv', index=False)

print("\n--- ìµœì¢… ìš”ì•½ ---")
total_rest = len(df_rest)
p1_count = len(rest_pass1_success)
p2_count = len(rest_pass2_success)
final_fail_count = len(rest_final_unmatched)
print(f"ì´ {total_rest}ê°œì˜ 'rest' ë ˆì½”ë“œ ì¤‘,")
print(f"  - ê·œì¹™ ê¸°ë°˜ ë§¤ì¹­ ì„±ê³µ: {p1_count} ê±´")
print(f"  - ì¶”ë¡  ê¸°ë°˜ ë§¤ì¹­ ì„±ê³µ: {p2_count} ê±´")
print(f"  - ìµœì¢… ë§¤ì¹­ ì‹¤íŒ¨: {final_fail_count} ê±´")
print(f"\nëª¨ë“  ì‘ì—… ì™„ë£Œ. ìµœì¢… ë°ì´í„°ê°€ 'quant_author_ed_eu_val_final_unified.csv'ì— ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.")

[1ë‹¨ê³„] ë°ì´í„° ë¡œë”© ë° ID í†µí•©ì„ ì‹œì‘í•©ë‹ˆë‹¤...
ID í†µí•© ì™„ë£Œ.

[2ë‹¨ê³„] PASS 1: ê·œì¹™ ê¸°ë°˜ ì •ë°€ ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...
PASS 1 ê²°ê³¼: 18018 ê±´ ë§¤ì¹­ ì„±ê³µ.

[3ë‹¨ê³„] PASS 2: ì¶”ë¡  ê¸°ë°˜ í¬ê´„ì  ë§¤ì¹­ì„ ì‹œì‘í•©ë‹ˆë‹¤...
PASS 2 ê²°ê³¼: 20271 ê±´ ì¶”ê°€ ë§¤ì¹­ ì„±ê³µ.

[4ë‹¨ê³„] ìµœì¢… ê²°ê³¼ë¥¼ ì¢…í•©í•˜ê³  ëŒ€í‘œ ê¸°ê´€/ì €ì ì •ë³´ë¥¼ í†µì¼í•©ë‹ˆë‹¤...

C:\Users\User\AppData\Local\Temp\ipykernel_49120\67303318.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rest_final_unmatched['match_method'] = 'Unmatched'

[5ë‹¨ê³„] ê¸°ê´€ë³„ ëŒ€í‘œ êµ­ê°€ ë° ë„ì‹œ ì •ë³´ë¥¼ í†µì¼í•©ë‹ˆë‹¤...

C:\Users\User\AppData\Local\Temp\ipykernel_49120\67303318.py:182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['country'] = final_df['organization_cleaned'].map(canonical_country_map)
C:\Users\User\AppData\Local\Temp\ipykernel_49120\67303318.py:186: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['organization_cleaned'].map(canonical_city_map)

[6ë‹¨ê³„] ìµœì¢… ë°ì´í„°ë¥¼ ì €ì¥í•©ë‹ˆë‹¤...

--- ìµœì¢… ìš”ì•½ ---
ì´ 226928ê°œì˜ 'rest' ë ˆì½”ë“œ ì¤‘,
  - ê·œì¹™ ê¸°ë°˜ ë§¤ì¹­ ì„±ê³µ: 18018 ê±´
  - ì¶”ë¡  ê¸°ë°˜ ë§¤ì¹­ ì„±ê³µ: 20271 ê±´
  - ìµœì¢… ë§¤ì¹­ ì‹¤íŒ¨: 188639 ê±´

ëª¨ë“  ì‘ì—… ì™„ë£Œ. ìµœì¢… ë°ì´í„°ê°€ 'quant_author_ed_eu_val_final_unified.csv'ì— ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.

In [9]:
final_df.head()

,pubid,city,country,pubyear,author_id_te,full_name,matched,organization_cleaned,suborganization_cleaned,author_id_te_cleaned,match_method
0,52091.0,LAQUILA,ITALY,1998,5945201.0,"Carelli, P",matched,UNIVERSITY OF AQUILA,DIPARTIMENTO ENERGET,5945201.0,Original
1,62208.0,BERLIN,GERMANY,1998,3941773.0,"Beyer, J",matched,PHYSIKALISCH-TECHNISCHE BUNDESANSTALT (PTB),PHYS TECH BUNDESANSTALT,3941773.0,Original
2,114324.0,JENA,GERMANY,1998,35695931.0,"Schmidl, F",matched,FRIEDRICH SCHILLER UNIVERSITY OF JENA,INST FESTKORPERPHYS,35695931.0,Original
3,260373.0,JULICH,GERMANY,1998,6902516.0,"Chesca, B",matched,FORSCHUNGSZENTRUM JULICH,INST SCHICHT & IONENTECH,6902516.0,Original
4,273661.0,JULICH,GERMANY,1998,7320318.0,"Chong, Y",matched,FORSCHUNGSZENTRUM JULICH,INST SCHICHT & IONENTECH,7320318.0,Original

### Author network

In [8]:
import pandas as pd
import networkx as nx
from itertools import combinations
from collections import Counter

# =================================================================
# [1ë‹¨ê³„] ê²½ë¡œ ì„¤ì • ë° ë°ì´í„° ë¡œë”©
# =================================================================
print("ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê³  ê²°í•©í•˜ëŠ” ì¤‘ì…ë‹ˆë‹¤...")

# --- ê²½ë¡œ ì„¤ì • ---
# ì‚¬ìš©ì í™˜ê²½ì— ë§ê²Œ ì´ ë¶€ë¶„ì„ ìˆ˜ì •í•˜ì„¸ìš”.
dir_path = 'D:/GD_awekimm/[YU]/[Project]/[Quantum]/Quantum_2nd/04_Analysis/QuanTech_R2/R file/'
author_data_path = dir_path + 'quant_author_ed_eu_val_hybrid_matched.parquet'
category_data_path = dir_path + 'quant_author_ed_eu_val.csv'
output_csv_path = dir_path + 'network_analysis_final_co_authorship.csv'

# --- ë°ì´í„° ë¡œë”© ë° ì¤€ë¹„ ---
df_author_clean = pd.read_parquet(author_data_path)
df_category = pd.read_csv(category_data_path, usecols=['pubid', 'qc_category']).drop_duplicates()
df = pd.merge(df_author_clean, df_category, on='pubid', how='left')

# --- ë¶„ì„ì— ì‚¬ìš©í•  ì»¬ëŸ¼ ì •ì˜ ë° ì „ì²˜ë¦¬ ---
required_cols = [
    'pubid', 'full_name', 'organization_cleaned', 'suborganization_cleaned', 
    'country', 'qc_category', 'author_id_te_cleaned'
]
df_net = df[required_cols].dropna(subset=['pubid', 'full_name', 'qc_category', 'author_id_te_cleaned'])
df_net = df_net[df_net['full_name'] != '']

print("ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ.")

# ìµœì¢… ê²°ê³¼ë¥¼ ì €ì¥í•  ë¦¬ìŠ¤íŠ¸
results_list = []

# =================================================================
# [2ë‹¨ê³„] ì¹´í…Œê³ ë¦¬ë³„ ë„¤íŠ¸ì›Œí¬ ë¶„ì„
# =================================================================
categories = df_net['qc_category'].unique()

for category in categories:
    print("\n" + "="*50)
    print(f" Category: {category} ê³µë™ ì €ì ë„¤íŠ¸ì›Œí¬ ë¶„ì„ ì‹œì‘")
    print("="*50)
    
    df_cat = df_net[df_net['qc_category'] == category]
    
    if len(df_cat) < 5:
        print(" -> ìƒ˜í”Œ ìˆ˜ê°€ ë„ˆë¬´ ì ì–´ ê±´ë„ˆëœë‹ˆë‹¤.")
        continue

    # -----------------------------------------------------------------
    # [2-1] ID ê¸°ë°˜ ê°€ì¤‘ ë„¤íŠ¸ì›Œí¬ ìƒì„± (ë©”ëª¨ë¦¬ ë° ì†ë„ ìµœì í™”)
    # -----------------------------------------------------------------
    
    # 1. ë…¼ë¬¸ë³„ ì €ì "ê³ ìœ  ID" ë¦¬ìŠ¤íŠ¸ ìƒì„± (ë™ëª…ì´ì¸ ë¬¸ì œ í•´ê²°)
    co_authors_per_pub = df_cat.groupby('pubid')['author_id_te_cleaned'].apply(list)

    # 2. Counterë¥¼ ì‚¬ìš©í•˜ì—¬ ë©”ëª¨ë¦¬ íš¨ìœ¨ì ìœ¼ë¡œ ëª¨ë“  ì €ì ìŒ(ì—£ì§€)ê³¼ ë¹ˆë„ìˆ˜(ê°€ì¤‘ì¹˜)ë¥¼ ì§‘ê³„
    edge_counts = Counter(
        edge
        for authors in co_authors_per_pub
        if len(authors) > 1
        for edge in combinations(sorted(authors), 2)
    )

    if not edge_counts:
        print(" -> ê³µë™ ì €ì ê´€ê³„ê°€ ì—†ì–´ ë„¤íŠ¸ì›Œí¬ë¥¼ ìƒì„±í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")
        continue

    # 3. ì§‘ê³„ëœ ê²°ê³¼ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì—£ì§€ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°í”„ë ˆì„ ìƒì„±
    weighted_edges = pd.DataFrame(
        ((edge[0], edge[1], count) for edge, count in edge_counts.items()),
        columns=['source', 'target', 'weight']
    )
    
    # 4. Pandas ë°ì´í„°í”„ë ˆì„ì—ì„œ í•œ ë²ˆì— ê·¸ë˜í”„ ìƒì„±
    G = nx.from_pandas_edgelist(weighted_edges, 
                                  source='source', 
                                  target='target', 
                                  edge_attr='weight')
    
    print(f" -> ë„¤íŠ¸ì›Œí¬ ìƒì„± ì™„ë£Œ (ì €ì ìˆ˜: {G.number_of_nodes()}, ê³µë™ ì—°êµ¬ ê´€ê³„ ìˆ˜: {G.number_of_edges()})")
    
    # -----------------------------------------------------------------
    # [2-2] ì¤‘ì‹¬ì„± ì§€ìˆ˜ ì¸¡ì •
    # -----------------------------------------------------------------
    print(" -> ì¤‘ì‹¬ì„± ì§€ìˆ˜ ì¸¡ì • ì¤‘ (ê°€ì¤‘ì¹˜ ë°˜ì˜)...")
    
    centrality_results = {
        "Weighted Degree": {node: val for node, val in G.degree(weight='weight')},
        "Betweenness Centrality": nx.betweenness_centrality(G, weight='weight', normalized=True)
    }
    try:
        centrality_results["Eigenvector Centrality"] = nx.eigenvector_centrality(G, weight='weight', max_iter=1000, tol=1e-06)
    except nx.PowerIterationFailedConvergence:
        print(" -> ê³ ìœ ë²¡í„° ì¤‘ì‹¬ì„± ê³„ì‚°ì— ì‹¤íŒ¨í•˜ì—¬ ê±´ë„ˆëœë‹ˆë‹¤.")
        centrality_results["Eigenvector Centrality"] = None

    # -----------------------------------------------------------------
    # [2-3] ë¶„ì„ ê²°ê³¼ ì •ë¦¬
    # -----------------------------------------------------------------
    
    # IDë¥¼ ì´ë¦„ ë° ê¸°íƒ€ ì •ë³´ë¡œ ë³€í™˜í•˜ê¸° ìœ„í•œ ì •ë³´ ë§µ(map) ìƒì„± (íš¨ìœ¨ì„± ì¦ëŒ€)
    author_info_map = df_net.drop_duplicates(subset=['author_id_te_cleaned']).set_index('author_id_te_cleaned').to_dict('index')

    for name, result in centrality_results.items():
        if result is None: continue
        
        # IDë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ì‹¬ì„± ì ìˆ˜ ì •ë ¬
        sorted_authors_by_id = sorted(result.items(), key=lambda item: item[1], reverse=True)
        
        print(f"\n--- ğŸ‘‘ {name} TOP 5 ---")

        for i, (author_id, score) in enumerate(sorted_authors_by_id[:5]):
            info = author_info_map.get(author_id)
            
            if info:
                author_name = info.get('full_name', 'N/A')
                top_org = info.get('organization_cleaned', 'N/A')
                top_suborg = info.get('suborganization_cleaned', 'N/A')
                country = info.get('country', 'N/A')
            else:
                author_name, top_org, top_suborg, country = "N/A", "N/A", "N/A", "N/A"

            print(f"{i+1}. {author_name} (ID: {author_id}, Score: {score:.4f})")
            print(f"   â”– ì†Œì†: {top_org} ({country})")
            if top_suborg and pd.notna(top_suborg):
                print(f"     â”– ë¶€ì„œ: {top_suborg}")
            
            # ìµœì¢… ê²°ê³¼ ë¦¬ìŠ¤íŠ¸ì— ì¶”ê°€
            results_list.append({
                'category': category,
                'centrality_type': name,
                'rank': i + 1,
                'author_id_te_cleaned': author_id,
                'author': author_name,
                'score': score,
                'organization': top_org,
                'suborganization': top_suborg,
                'country': country
            })

# =================================================================
# [3ë‹¨ê³„] ìµœì¢… ê²°ê³¼ ì €ì¥
# =================================================================
print("\n" + "="*50)
print("ë¶„ì„ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤. ìµœì¢… ê²°ê³¼ë¥¼ ì €ì¥í•©ë‹ˆë‹¤.")

# ë¦¬ìŠ¤íŠ¸ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
results_df = pd.DataFrame(results_list)

# ì¶œë ¥í•  ì»¬ëŸ¼ ìˆœì„œ ì§€ì •
output_cols = [
    'category', 'centrality_type', 'rank', 'author_id_te_cleaned', 'author', 
    'score', 'organization', 'suborganization', 'country'
]
results_df = results_df[output_cols]

# CSV íŒŒì¼ë¡œ ì €ì¥
results_df.to_csv(output_csv_path, index=False, encoding='utf-8-sig')

print(f"ê²°ê³¼ë¥¼ '{output_csv_path}' íŒŒì¼ë¡œ ì €ì¥í–ˆìŠµë‹ˆë‹¤.")
print("="*50)

ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê³  ê²°í•©í•˜ëŠ” ì¤‘ì…ë‹ˆë‹¤...
ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ.

==================================================
 Category: qc111 ê³µë™ ì €ì ë„¤íŠ¸ì›Œí¬ ë¶„ì„ ì‹œì‘
==================================================
 -> ë„¤íŠ¸ì›Œí¬ ìƒì„± ì™„ë£Œ (ì €ì ìˆ˜: 8224, ê³µë™ ì—°êµ¬ ê´€ê³„ ìˆ˜: 55051)
 -> ì¤‘ì‹¬ì„± ì§€ìˆ˜ ì¸¡ì • ì¤‘ (ê°€ì¤‘ì¹˜ ë°˜ì˜)...

--- ğŸ‘‘ Weighted Degree TOP 5 ---
1. Torrioli, G (ID: 39921400.0, Score: 2320.0000)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: CNR
2. Carelli, P (ID: 5945201.0, Score: 2313.0000)
   â”– ì†Œì†: UNIVERSITY OF AQUILA (ITALY)
     â”– ë¶€ì„œ: DIPARTIMENTO ENERGET
3. Cosmelli, C (ID: 8020268.0, Score: 1966.0000)
   â”– ì†Œì†: ISTITUTO NAZIONALE DI FISICA NUCLEARE (INFN) (ITALY)
4. Chiarello, F (ID: 7103363.0, Score: 1865.0000)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: SMC
5. Leoni, R (ID: 22284448.0, Score: 1817.0000)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: IST FOTON & NANOTECNOL

--- ğŸ‘‘ Betweenness Centrality TOP 5 ---
1. Beyer, J (ID: 3941773.0, Score: 0.0519)
   â”– ì†Œì†: PHYSIKALISCH-TECHNISCHE BUNDESANSTALT (PTB) (GERMANY)
     â”– ë¶€ì„œ: PHYS TECH BUNDESANSTALT
2. Nori, Franco (ID: 29033890.0, Score: 0.0402)
   â”– ì†Œì†: RIKEN (JAPAN)
     â”– ë¶€ì„œ: ADV SCI INST
3. Rodt, Sven (ID: 33661426.0, Score: 0.0383)
   â”– ì†Œì†: TECHNICAL UNIVERSITY OF BERLIN (GERMANY)
     â”– ë¶€ì„œ: INST FESTKORPERPHYS
4. Cabello, Adan (ID: 5463472.0, Score: 0.0374)
   â”– ì†Œì†: UNIVERSITY OF SEVILLA (SPAIN)
     â”– ë¶€ì„œ: DEPT FIS APLICADA 2
5. Beyer, Joern (ID: 3942129.0, Score: 0.0366)
   â”– ì†Œì†: PHYSIKALISCH-TECHNISCHE BUNDESANSTALT (PTB) (GERMANY)

--- ğŸ‘‘ Eigenvector Centrality TOP 5 ---
1. Torrioli, G (ID: 39921400.0, Score: 0.3954)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: CNR
2. Carelli, P (ID: 5945201.0, Score: 0.3949)
   â”– ì†Œì†: UNIVERSITY OF AQUILA (ITALY)
     â”– ë¶€ì„œ: DIPARTIMENTO ENERGET
3. Cosmelli, C (ID: 8020268.0, Score: 0.3434)
   â”– ì†Œì†: ISTITUTO NAZIONALE DI FISICA NUCLEARE (INFN) (ITALY)
4. Chiarello, F (ID: 7103363.0, Score: 0.3282)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: SMC
5. Leoni, R (ID: 22284448.0, Score: 0.3187)
   â”– ì†Œì†: CONSIGLIO NAZIONALE DELLE RICERCHE (CNR) (ITALY)
     â”– ë¶€ì„œ: IST FOTON & NANOTECNOL

==================================================
 Category: qc224 ê³µë™ ì €ì ë„¤íŠ¸ì›Œí¬ ë¶„ì„ ì‹œì‘
==================================================
 -> ë„¤íŠ¸ì›Œí¬ ìƒì„± ì™„ë£Œ (ì €ì ìˆ˜: 64267, ê³µë™ ì—°êµ¬ ê´€ê³„ ìˆ˜: 9263246)
 -> ì¤‘ì‹¬ì„± ì§€ìˆ˜ ì¸¡ì • ì¤‘ (ê°€ì¤‘ì¹˜ ë°˜ì˜)...

KeyboardInterrupt:

In [17]:
import pandas as pd

dir = 'H:/GD_awekimm/[YU]/[Project]/[Quantum]/Quantum_2nd/04_Analysis/QuanTech_R2/R file/'

input_csv_path = dir + 'network_analysis_top5_authors.csv'

output_csv_path = dir + 'top_authors_master_list.csv'

try:
    print(f"ì…ë ¥ íŒŒì¼ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤: {input_csv_path}")
    df = pd.read_csv(input_csv_path)
except FileNotFoundError:
    print(f"[ì—ëŸ¬] ì…ë ¥ íŒŒì¼ì´ ì—†ìŠµë‹ˆë‹¤. ë¨¼ì € ë„¤íŠ¸ì›Œí¬ ë¶„ì„ ì½”ë“œë¥¼ ì‹¤í–‰í•´ì£¼ì„¸ìš”.")
    exit()

df_authors = df[['qc_category', 'full_name', 'author_id_te_cleaned']].copy()

# 3. ì¤‘ë³µ ì œê±°
# í•œ ì—°êµ¬ìê°€ ì—¬ëŸ¬ ì¤‘ì‹¬ì„± ì§€í‘œ(Degree, Betweenness ë“±)ì—ì„œ ìƒìœ„ê¶Œì— ë“¤ ìˆ˜ ìˆìœ¼ë¯€ë¡œ,
# ë¶„ì•¼ë³„ ê³ ìœ í•œ ì—°êµ¬ì ëª…ë‹¨ì„ ë§Œë“¤ê¸° ìœ„í•´ ì¤‘ë³µì„ ì œê±°í•©ë‹ˆë‹¤.
print("ì¤‘ë³µëœ ì—°êµ¬ì ì •ë³´ë¥¼ ì œê±°í•˜ì—¬ ê³ ìœ í•œ ëª…ë‹¨ì„ ìƒì„±í•©ë‹ˆë‹¤.")
df_authors.drop_duplicates(inplace=True)

# 4. ê²°ê³¼ ì •ë ¬ (ê°€ë…ì„±ì„ ìœ„í•´)
df_authors.sort_values(by=['qc_category', 'full_name'], inplace=True)

# 5. ìƒˆë¡œìš´ CSV íŒŒì¼ë¡œ ì €ì¥
print(f"ìµœì¢… ëª…ë‹¨ì„ CSV íŒŒì¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤: {output_csv_path}")
# ì—‘ì…€ì—ì„œ í•œê¸€ì´ ê¹¨ì§€ì§€ ì•Šë„ë¡ 'utf-8-sig' ì¸ì½”ë”© ì‚¬ìš©
df_authors.to_csv(output_csv_path, index=False, encoding='utf-8-sig')

print("\nâœ¨ ì‘ì—… ì™„ë£Œ!")
print(f"ì´ {len(df_authors)}ëª…ì˜ ê³ ìœ í•œ ìƒìœ„ ì—°êµ¬ì ëª…ë‹¨ì´ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤.")
print("\nìƒì„±ëœ íŒŒì¼ì˜ ìƒìœ„ 5ì¤„ ë¯¸ë¦¬ë³´ê¸°:")
print(df_authors.head())

ì…ë ¥ íŒŒì¼ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤: H:/GD_awekimm/[YU]/[Project]/[Quantum]/Quantum_2nd/04_Analysis/QuanTech_R2/R file/network_analysis_top5_authors.csv

KeyError: "None of [Index(['qc_category', 'full_name', 'author_id_te_cleaned'], dtype='object')] are in the [columns]"

**êµìˆ˜ë‹˜ í”¼ë“œë°±**
- ì „ì²´ë¥¼ ì •êµí™”í•˜ëŠ”ê²Œ ì•„ë‹ˆë¼, ì¤‘ìš”í•œ ì €ìì˜ ì‹ë³„ì´ ì¤‘ìš”í•¨ 
- ë¶„ì•¼ë³„ ë…¼ë¬¸ ìˆ˜ ìƒìœ„ 10ëª… ë§¤ë‰´ì–¼ë¡œ í™•ì¸

In [1]:
import pandas as pd 
df = pd.read_csv('quant_author_ed_eu_val.csv')
df

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
0,1,52091.0,qc111,1,1.0,UNIV AQUILA,DIPARTIMENTO ENERGET,LAQUILA,ITALY,1998,52091-qc111-1-1,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,matched
1,2,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,random
2,3,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,6290927.0,"Castellano, MG","Castellano, MG","Castellano, MG",MG,Castellano,random
3,4,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,39921397.0,"Torrioli, G","Torrioli, G","Torrioli, G",G,Torrioli,random
4,5,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,22284443.0,"Leoni, R","Leoni, R","Leoni, R",R,Leoni,random
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350989,1350990,46599931.0,qc43,3,2.0,INFN,SEZ CATANIA,CATANIA,ITALY,2021,46599931-qc43-3-2,author,13492143.0,"Giannelli, Luigi","Giannelli, Luigi","Giannelli, L",Luigi,Giannelli,matched
1350990,1350991,46599931.0,qc43,4,3.0,UNIV COPENHAGEN,CTR HYBRID QUANTUM NETWORKS,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350991,1350992,46599931.0,qc43,4,3.0,UNIV COPENHAGEN,NIELS BOHR INST,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350992,1350993,46599931.0,qc43,4,3.0,NIELS BOHR INSTITUTE,CTR HYBRID QUANTUM NETWORKS,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350993,1350994,46599931.0,qc43,4,3.0,NIELS BOHR INSTITUTE,NIELS BOHR INST,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched

In [10]:
# group by author_id_te and qc_category and count the number of unique pubid 
df_grouped = df.groupby(['author_id_te', 'qc_category']).agg({'pubid': 'nunique'}).reset_index()
df_grouped.rename(columns={'pubid': 'pub_count'}, inplace=True)
df_grouped

        author_id_te qc_category  pub_count
0               79.0        qc41          1
1              761.0        qc43          1
2              764.0       qc224          1
3              853.0       qc133          1
4              853.0       qc134          1
...              ...         ...        ...
334947    46522883.0       qc422          1
334948    46523096.0       qc224          1
334949    46523852.0       qc224          1
334950    46523976.0        qc43          1
334951    46524038.0        qc43          1

[334952 rows x 3 columns]

In [11]:
df_grouped.sort_values(by='pub_count', ascending=False, inplace=True)
df_grouped.head(100)

        author_id_te qc_category  pub_count
268380    36684500.0       qc211         66
330306    45827585.0       qc143         52
268386    36684500.0       qc224         51
305801    41795374.0       qc422         45
179715    24994194.0       qc143         43
...              ...         ...        ...
131224    17954312.0        qc43         24
238182    32993380.0       qc224         24
126095    17192650.0       qc224         24
126761    17294970.0       qc422         24
97598     13520735.0       qc211         24

[100 rows x 3 columns]

In [12]:
df_grouped.describe()

       author_id_te      pub_count
count  3.349520e+05  334952.000000
mean   2.309613e+07       1.458967
std    1.318873e+07       1.417166
min    7.900000e+01       1.000000
25%    1.174916e+07       1.000000
50%    2.291299e+07       1.000000
75%    3.475829e+07       1.000000
max    4.652404e+07      66.000000

In [2]:
# check number of unique author_id_te 
df['author_id_te'].nunique()

193678

In [3]:
# check rows where the same 'author_id_te' has different 'wos_standard' 

df[df.duplicated(subset=['author_id_te'], keep=False) 
   & ~df.duplicated(subset=['author_id_te', 'wos_standard'], keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, pubid, qc_category, addr_num, SEQ_NO, organization_cleaned, suborganization, city, country, pubyear, ID_all, role, author_id_te, display_name, full_name, wos_standard, first_name, last_name, matched]
Index: []

In [4]:
# check rows where the same 'wos_standard' has different 'author_id_te'

df[df.duplicated(subset=['wos_standard'], keep=False) 
   & ~df.duplicated(subset=['wos_standard', 'author_id_te'], keep=False)]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1672,1673,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,12991795.0,"Garcia, D","Garcia, D","Garcia, D",D,Garcia,random
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1676,1677,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,25200187.0,"Mandal, K","Mandal, K","Mandal, K",K,Mandal,random
1679,1680,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,15980894.0,"Hernando, A","Hernando, A","Hernando, A",A,Hernando,random
3218,3219,5739314.0,qc111,2,NaN,TU WIEN,INST THEORET PHYS,VIENNA,AUSTRIA,2003,5739314-qc111-2-NA,author,36841768.0,"Sjoqvist, E","Sjoqvist, E","Sjoqvist, E",E,Sjoqvist,random
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350541,1350542,46564882.0,qc43,1,1.0,ETH ZURICH,INST QUANTUM ELECT,ZURICH,SWITZERLAND,2021,46564882-qc43-1-1,author,11651473.0,"Ferri, Francesco","Ferri, Francesco","Ferri, F",Francesco,Ferri,matched
1350543,1350544,46564882.0,qc43,1,3.0,ETH ZURICH,INST QUANTUM ELECT,ZURICH,SWITZERLAND,2021,46564882-qc43-1-3,author,11768669.0,"Finger, Fabian","Finger, Fabian","Finger, F",Fabian,Finger,matched
1350647,1350648,46575304.0,qc43,1,1.0,UNIV COLL DUBLIN,SCH PHYS,DUBLIN,IRELAND,2021,46575304-qc43-1-1,author,19833043.0,"Kiely, Anthony","Kiely, Anthony","Kiely, A",Anthony,Kiely,matched
1350811,1350812,46577964.0,qc43,2,4.0,WAGENINGEN UNIV & RES,HORT & PROD PHYSIOL,WAGENINGEN,NETHERLANDS,2021,46577964-qc43-2-4,author,18958659.0,"Kaiser, Elias","Kaiser, Elias","Kaiser, E",Elias,Kaiser,matched
1350899,1350900,46588564.0,qc43,1,1.0,QUANTUM MOT TECHNOL,NaN,HARROGATE,ENGLAND,2021,46588564-qc43-1-1,author,13851592.0,"Gonzalez-Zalba, M. F.","Gonzalez-Zalba, M. F.","Gonzalez-Zalba, MF",M. F.,Gonzalez-Zalba,matched

In [5]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,10948659-qc422-1-1,author,1963902.0,"Asenjo, A.","Asenjo, A.","Asenjo, A",A.,Asenjo,matched

**êµ­ê°€, ë„ì‹œ, ê¸°ê´€ëª…, ì €ìëª…ì€ ê°™ì€ë°, author_id_teê°€ ë‹¤ë¥¸ ê²½ìš°ê°€ ìˆë‹¤.**

# **Author ID Merging Rule**
- 'organization_cleaned'ì™€ 'full_name'ê°€ ê°™ì€ ê²½ìš°, 'author_id_te'ë¥¼ í†µí•©

In [27]:
df['full_name'] = df['full_name'].str.replace(r'\.$', '', regex=True)

In [28]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,10948659-qc422-1-1,author,1963902.0,"Asenjo, A.","Asenjo, A","Asenjo, A",A.,Asenjo,matched

In [29]:
# If organization_cleaned and full_name are identical but author_id_te is different, merge them with one author_id_te in a new column 'author_id_te_cleaned'
df['author_id_te_cleaned'] = (
    df.groupby(['organization_cleaned', 'full_name'])['author_id_te']
      .transform('first')
)

In [30]:
df['cleaned_or_not'] = (df['author_id_te_cleaned'] != df['author_id_te']).astype(int)
df.head()

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
0,1,52091.0,qc111,1,1.0,UNIV AQUILA,DIPARTIMENTO ENERGET,LAQUILA,ITALY,1998,...,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,matched,5945201.0,0
1,2,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,random,5945201.0,0
2,3,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,6290927.0,"Castellano, MG","Castellano, MG","Castellano, MG",MG,Castellano,random,6290927.0,0
3,4,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,39921397.0,"Torrioli, G","Torrioli, G","Torrioli, G",G,Torrioli,random,39921397.0,0
4,5,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,22284443.0,"Leoni, R","Leoni, R","Leoni, R",R,Leoni,random,22284443.0,0

In [34]:
# check number of unique author_id_te 
df['author_id_te'].nunique()

193678

In [33]:
# check number of unique author_id_te 
df['author_id_te_cleaned'].nunique()

177770

In [31]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,...,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random,1963866.0,0
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,...,author,1963902.0,"Asenjo, A.","Asenjo, A","Asenjo, A",A.,Asenjo,matched,1963866.0,1

**full_nameì€ ê°™ì€ë° ê¸°ê´€ëª…ì´ ë‹¤ë¥¸ ê²½ìš°?**

In [35]:
# check rows where full_name is identical but organization_cleaned is different 

df[df.duplicated(subset=['full_name'], keep=False) & ~df.duplicated(subset=['organization_cleaned'], keep=False)]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4348,4349,7448624.0,qc111,1,1.0,UNIV GENOA GAP,APPL PHYS GRP,GENEVA,SWITZERLAND,2001,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814970.0,0
4349,4350,7448624.0,qc111,2,2.0,UNIV VIENNA UNIVIE,INST EXPT PHYS,VIENNA,AUSTRIA,2001,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
9814,9815,13134142.0,qc111,1,1.0,QUANTUM OPT LAB ELSAGDATAMAT,NaN,GENOA,ITALY,2007,...,author,4835077.0,"Bovino, Fabio Antonio","Bovino, Fabio Antonio","Bovino, FA",Fabio Antonio,Bovino,matched,4835077.0,0
10083,10084,13484216.0,qc111,4,5.0,NATL CTR NANOMAT TECHNOL,NaN,POHANG,SOUTH KOREA,2008,...,author,22198874.0,"Lee, Hu-Jong","Lee, Hu-Jong","Lee, HJ",Hu-Jong,Lee,matched,22198874.0,0
10344,10345,13913831.0,qc111,3,1.0,ACCAD NAZL LINCEI,NaN,ROME,ITALY,2008,...,author,8843932.0,"De Martini, Francesco","De Martini, Francesco","De Martini, F",Francesco,De Martini,matched,8843932.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349436,1349437,46301158.0,qc43,2,5.0,AGR RES LTD,NaN,TROUBSKO,CZECH REPUBLIC,2021,...,author,20134164.0,"Kintl, Antonin","Kintl, Antonin","Kintl, A",Antonin,Kintl,matched,20134164.0,0
1349443,1349444,46303705.0,qc43,4,3.0,CNR IOM IST OFFICINA MOL,NaN,TRIESTE,ITALY,2021,...,author,33746753.0,"Romanato, Filippo","Romanato, Filippo","Romanato, F",Filippo,Romanato,matched,33746753.0,0
1349851,1349852,46379898.0,qc43,5,2.0,HKU UCAS JOINT INST THEORET & COMPUTAT PHYS HONG,NaN,HONG KONG,PEOPLES R CHINA,2021,...,author,44231961.0,"Yao, Wang","Yao, Wang","Yao, W",Wang,Yao,matched,44231961.0,0
1350217,1350218,46501668.0,qc43,2,1.0,UV BOOSTING,NaN,BOULOGNE BILLANCOURT,FRANCE,2021,...,author,22150607.0,"Ledermann, Loic","Ledermann, Loic","Ledermann, L",Loic,Ledermann,matched,22150607.0,0
1350844,1350845,46578956.0,qc43,5,6.0,SHENZHEN JL COMPUTAT SCI & APPL RES INST,NaN,SHENZHEN,PEOPLES R CHINA,2021,...,author,12223350.0,"Frauenheim, Thomas","Frauenheim, Thomas","Frauenheim, T",Thomas,Frauenheim,matched,12223350.0,0

In [36]:
df[df['full_name'] == 'Tittel, Wolfgang']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4348,4349,7448624.0,qc111,1,1.0,UNIV GENOA GAP,APPL PHYS GRP,GENEVA,SWITZERLAND,2001,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814970.0,0
13767,13768,18141708.0,qc111,1,10.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2011,...,author,39814968.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,0
13774,13775,18141708.0,qc111,2,10.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2011,...,author,39814968.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,0
15657,15658,20280021.0,qc111,1,10.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2012,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
15664,15665,20280021.0,qc111,2,10.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2012,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210831,1210832,11236815.0,qc43,2,NaN,UNIV NICE,PHYS MAT CONDENSEE LAB,NICE,FRANCE,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814970.0,0
1210838,1210839,11236815.0,qc43,3,NaN,UNIV GENEVA,DEPT PHYS MAT CONDENSEE,GENEVA,SWITZERLAND,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814970.0,0
1210845,1210846,11236815.0,qc43,4,NaN,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814968.0,1
1239939,1239940,19831747.0,qc43,3,6.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2011,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
1239941,1239942,19831747.0,qc43,4,6.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2011,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1

- Tittel, Wolfgangì´ ì‹¤ì œë¡œ ì´ì§í•œê±´ì§€ ì•Œ ìˆ˜ê°€ ì—†ìŒ
- í™•ì¸í•´ë³¸ ê²°ê³¼, Tittel, Wolfgangì€ UNIV GENEVAì—ì„œ ë°•ì‚¬í•™ìœ„ë¥¼ ë°›ê³ , UNIV CALGARYì—ì„œ êµìˆ˜ë¡œ ì¬ì§ ì¤‘
- ì¦‰, UNIV GENEVAì™€ UNIV CALGARYì—ì„œ ì§„í–‰í•œ ì—°êµ¬ëŠ” ë™ì¼ì¸ë¬¼ì¼ ê°€ëŠ¥ì„±ì´ ë†’ìŒ
- í•˜ì§€ë§Œ, UNIV NICEëŠ” ê´€ë ¨ ì—†ìŒ -> ë™ëª…ì´ì¸

In [40]:
sample = df[df['full_name'] == 'Weihs, Gregor']
sample

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4329,4330,7200573.0,qc111,1,2.0,UNIV VIENNA,INST EXPT PHYS,VIENNA,AUSTRIA,2003,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
4349,4350,7448624.0,qc111,2,2.0,UNIV VIENNA UNIVIE,INST EXPT PHYS,VIENNA,AUSTRIA,2001,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11276,11277,15274405.0,qc111,1,4.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11280,11281,15274405.0,qc111,2,4.0,UNIV WATERLOO,DEPT PHYS,WATERLOO,CANADA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11282,11283,15274405.0,qc111,4,4.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140798,1140799,21762254.0,qc423,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1185502,1185503,44846533.0,qc423,1,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1247914,1247915,22611039.0,qc43,1,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2013,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1346455,1346456,45608699.0,qc43,2,7.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1346659,1346660,45652339.0,qc43,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0

In [42]:
# show rows where author_id_te_cleaned is not 42547602.0
sample[sample['author_id_te'] != 42547602.0]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
16902,16903,21762254.0,qc111,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
16903,16904,21762254.0,qc111,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
16904,16905,21762254.0,qc111,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
26413,26414,34524709.0,qc111,3,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2017,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798592,798593,21762254.0,qc41,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798593,798594,21762254.0,qc41,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798594,798595,21762254.0,qc41,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140796,1140797,21762254.0,qc423,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140797,1140798,21762254.0,qc423,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140798,1140799,21762254.0,qc423,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1

- ì†Œì†ê¸°ê´€ì´ ë°”ë€Œì–´ë„ author_id_teëŠ” ëŒ€ë¶€ë¶„ ë™ì¼í•œ ê²½ìš°
- Weihs, GregorëŠ” ìºë‚˜ë‹¤, ë„ì¿„, ë¯¸êµ­ì—ì„œ êµìˆ˜ ì¬ì§í•¨ 
- í˜„ì¬ëŠ” ì˜¤ìŠ¤íŠ¸ë¦¬ì•„ì—ì„œ êµìˆ˜ ì¬ì§ ì¤‘
- ìœ„ ê²½ìš°, ëª¨ë‘ ê°™ì€ author_id_te_cleanedë¡œ ì •ì œë¨

In [44]:
df.to_csv('quant_author_ed_eu_val_cleaned.csv', index=False)