# **양자과학기술 저자명 통일**

- column 'matched'로 표시된 row는 정확한 정보를 의미함
- WoS에서 절반밖에 제공하지 않음
- affiliation 정보가 있는 저자만 정확한 정보라고 볼 수 있음

**교수님 피드백**
- 전체를 정교화하는게 아니라, 중요한 저자의 식별이 중요함 
- 분야별 논문 수 상위 10명 매뉴얼로 확인

In [1]:
import pandas as pd 
df = pd.read_csv('quant_author_ed_eu_val.csv')
df

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
0,1,52091.0,qc111,1,1.0,UNIV AQUILA,DIPARTIMENTO ENERGET,LAQUILA,ITALY,1998,52091-qc111-1-1,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,matched
1,2,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,random
2,3,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,6290927.0,"Castellano, MG","Castellano, MG","Castellano, MG",MG,Castellano,random
3,4,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,39921397.0,"Torrioli, G","Torrioli, G","Torrioli, G",G,Torrioli,random
4,5,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,52091-qc111-2-NA,author,22284443.0,"Leoni, R","Leoni, R","Leoni, R",R,Leoni,random
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350989,1350990,46599931.0,qc43,3,2.0,INFN,SEZ CATANIA,CATANIA,ITALY,2021,46599931-qc43-3-2,author,13492143.0,"Giannelli, Luigi","Giannelli, Luigi","Giannelli, L",Luigi,Giannelli,matched
1350990,1350991,46599931.0,qc43,4,3.0,UNIV COPENHAGEN,CTR HYBRID QUANTUM NETWORKS,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350991,1350992,46599931.0,qc43,4,3.0,UNIV COPENHAGEN,NIELS BOHR INST,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350992,1350993,46599931.0,qc43,4,3.0,NIELS BOHR INSTITUTE,CTR HYBRID QUANTUM NETWORKS,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched
1350993,1350994,46599931.0,qc43,4,3.0,NIELS BOHR INSTITUTE,NIELS BOHR INST,COPENHAGEN,DENMARK,2021,46599931-qc43-4-3,author,37550262.0,"Sorensen, Anders S.","Sorensen, Anders S.","Sorensen, AS",Anders S.,Sorensen,matched

In [10]:
# group by author_id_te and qc_category and count the number of unique pubid 
df_grouped = df.groupby(['author_id_te', 'qc_category']).agg({'pubid': 'nunique'}).reset_index()
df_grouped.rename(columns={'pubid': 'pub_count'}, inplace=True)
df_grouped

        author_id_te qc_category  pub_count
0               79.0        qc41          1
1              761.0        qc43          1
2              764.0       qc224          1
3              853.0       qc133          1
4              853.0       qc134          1
...              ...         ...        ...
334947    46522883.0       qc422          1
334948    46523096.0       qc224          1
334949    46523852.0       qc224          1
334950    46523976.0        qc43          1
334951    46524038.0        qc43          1

[334952 rows x 3 columns]

In [11]:
df_grouped.sort_values(by='pub_count', ascending=False, inplace=True)
df_grouped.head(100)

        author_id_te qc_category  pub_count
268380    36684500.0       qc211         66
330306    45827585.0       qc143         52
268386    36684500.0       qc224         51
305801    41795374.0       qc422         45
179715    24994194.0       qc143         43
...              ...         ...        ...
131224    17954312.0        qc43         24
238182    32993380.0       qc224         24
126095    17192650.0       qc224         24
126761    17294970.0       qc422         24
97598     13520735.0       qc211         24

[100 rows x 3 columns]

In [12]:
df_grouped.describe()

       author_id_te      pub_count
count  3.349520e+05  334952.000000
mean   2.309613e+07       1.458967
std    1.318873e+07       1.417166
min    7.900000e+01       1.000000
25%    1.174916e+07       1.000000
50%    2.291299e+07       1.000000
75%    3.475829e+07       1.000000
max    4.652404e+07      66.000000

In [2]:
# check number of unique author_id_te 
df['author_id_te'].nunique()

193678

In [3]:
# check rows where the same 'author_id_te' has different 'wos_standard' 

df[df.duplicated(subset=['author_id_te'], keep=False) 
   & ~df.duplicated(subset=['author_id_te', 'wos_standard'], keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, pubid, qc_category, addr_num, SEQ_NO, organization_cleaned, suborganization, city, country, pubyear, ID_all, role, author_id_te, display_name, full_name, wos_standard, first_name, last_name, matched]
Index: []

In [4]:
# check rows where the same 'wos_standard' has different 'author_id_te'

df[df.duplicated(subset=['wos_standard'], keep=False) 
   & ~df.duplicated(subset=['wos_standard', 'author_id_te'], keep=False)]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1672,1673,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,12991795.0,"Garcia, D","Garcia, D","Garcia, D",D,Garcia,random
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1676,1677,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,25200187.0,"Mandal, K","Mandal, K","Mandal, K",K,Mandal,random
1679,1680,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,15980894.0,"Hernando, A","Hernando, A","Hernando, A",A,Hernando,random
3218,3219,5739314.0,qc111,2,NaN,TU WIEN,INST THEORET PHYS,VIENNA,AUSTRIA,2003,5739314-qc111-2-NA,author,36841768.0,"Sjoqvist, E","Sjoqvist, E","Sjoqvist, E",E,Sjoqvist,random
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350541,1350542,46564882.0,qc43,1,1.0,ETH ZURICH,INST QUANTUM ELECT,ZURICH,SWITZERLAND,2021,46564882-qc43-1-1,author,11651473.0,"Ferri, Francesco","Ferri, Francesco","Ferri, F",Francesco,Ferri,matched
1350543,1350544,46564882.0,qc43,1,3.0,ETH ZURICH,INST QUANTUM ELECT,ZURICH,SWITZERLAND,2021,46564882-qc43-1-3,author,11768669.0,"Finger, Fabian","Finger, Fabian","Finger, F",Fabian,Finger,matched
1350647,1350648,46575304.0,qc43,1,1.0,UNIV COLL DUBLIN,SCH PHYS,DUBLIN,IRELAND,2021,46575304-qc43-1-1,author,19833043.0,"Kiely, Anthony","Kiely, Anthony","Kiely, A",Anthony,Kiely,matched
1350811,1350812,46577964.0,qc43,2,4.0,WAGENINGEN UNIV & RES,HORT & PROD PHYSIOL,WAGENINGEN,NETHERLANDS,2021,46577964-qc43-2-4,author,18958659.0,"Kaiser, Elias","Kaiser, Elias","Kaiser, E",Elias,Kaiser,matched
1350899,1350900,46588564.0,qc43,1,1.0,QUANTUM MOT TECHNOL,NaN,HARROGATE,ENGLAND,2021,46588564-qc43-1-1,author,13851592.0,"Gonzalez-Zalba, M. F.","Gonzalez-Zalba, M. F.","Gonzalez-Zalba, MF",M. F.,Gonzalez-Zalba,matched

In [5]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,10948659-qc422-1-1,author,1963902.0,"Asenjo, A.","Asenjo, A.","Asenjo, A",A.,Asenjo,matched

**국가, 도시, 기관명, 저자명은 같은데, author_id_te가 다른 경우가 있다.**

# **Author ID Merging Rule**
- 'organization_cleaned'와 'full_name'가 같은 경우, 'author_id_te'를 통합

In [27]:
df['full_name'] = df['full_name'].str.replace(r'\.$', '', regex=True)

In [28]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,ID_all,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,3602978-qc111-2-NA,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,10948659-qc422-1-1,author,1963902.0,"Asenjo, A.","Asenjo, A","Asenjo, A",A.,Asenjo,matched

In [29]:
# If organization_cleaned and full_name are identical but author_id_te is different, merge them with one author_id_te in a new column 'author_id_te_cleaned'
df['author_id_te_cleaned'] = (
    df.groupby(['organization_cleaned', 'full_name'])['author_id_te']
      .transform('first')
)

In [30]:
df['cleaned_or_not'] = (df['author_id_te_cleaned'] != df['author_id_te']).astype(int)
df.head()

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
0,1,52091.0,qc111,1,1.0,UNIV AQUILA,DIPARTIMENTO ENERGET,LAQUILA,ITALY,1998,...,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,matched,5945201.0,0
1,2,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,5945201.0,"Carelli, P","Carelli, P","Carelli, P",P,Carelli,random,5945201.0,0
2,3,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,6290927.0,"Castellano, MG","Castellano, MG","Castellano, MG",MG,Castellano,random,6290927.0,0
3,4,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,39921397.0,"Torrioli, G","Torrioli, G","Torrioli, G",G,Torrioli,random,39921397.0,0
4,5,52091.0,qc111,2,NaN,CNR,IST ELETTR STATO SOLIDO,ROME,ITALY,1998,...,author,22284443.0,"Leoni, R","Leoni, R","Leoni, R",R,Leoni,random,22284443.0,0

In [34]:
# check number of unique author_id_te 
df['author_id_te'].nunique()

193678

In [33]:
# check number of unique author_id_te 
df['author_id_te_cleaned'].nunique()

177770

In [31]:
df[df['wos_standard'] == 'Asenjo, A']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
1674,1675,3602978.0,qc111,2,NaN,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2000,...,author,1963866.0,"Asenjo, A","Asenjo, A","Asenjo, A",A,Asenjo,random,1963866.0,0
1008198,1008199,10948659.0,qc422,1,1.0,CSIC,INST CIENCIA MAT,MADRID,SPAIN,2006,...,author,1963902.0,"Asenjo, A.","Asenjo, A","Asenjo, A",A.,Asenjo,matched,1963866.0,1

**full_name은 같은데 기관명이 다른 경우?**

In [35]:
# check rows where full_name is identical but organization_cleaned is different 

df[df.duplicated(subset=['full_name'], keep=False) & ~df.duplicated(subset=['organization_cleaned'], keep=False)]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4348,4349,7448624.0,qc111,1,1.0,UNIV GENOA GAP,APPL PHYS GRP,GENEVA,SWITZERLAND,2001,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814970.0,0
4349,4350,7448624.0,qc111,2,2.0,UNIV VIENNA UNIVIE,INST EXPT PHYS,VIENNA,AUSTRIA,2001,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
9814,9815,13134142.0,qc111,1,1.0,QUANTUM OPT LAB ELSAGDATAMAT,NaN,GENOA,ITALY,2007,...,author,4835077.0,"Bovino, Fabio Antonio","Bovino, Fabio Antonio","Bovino, FA",Fabio Antonio,Bovino,matched,4835077.0,0
10083,10084,13484216.0,qc111,4,5.0,NATL CTR NANOMAT TECHNOL,NaN,POHANG,SOUTH KOREA,2008,...,author,22198874.0,"Lee, Hu-Jong","Lee, Hu-Jong","Lee, HJ",Hu-Jong,Lee,matched,22198874.0,0
10344,10345,13913831.0,qc111,3,1.0,ACCAD NAZL LINCEI,NaN,ROME,ITALY,2008,...,author,8843932.0,"De Martini, Francesco","De Martini, Francesco","De Martini, F",Francesco,De Martini,matched,8843932.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349436,1349437,46301158.0,qc43,2,5.0,AGR RES LTD,NaN,TROUBSKO,CZECH REPUBLIC,2021,...,author,20134164.0,"Kintl, Antonin","Kintl, Antonin","Kintl, A",Antonin,Kintl,matched,20134164.0,0
1349443,1349444,46303705.0,qc43,4,3.0,CNR IOM IST OFFICINA MOL,NaN,TRIESTE,ITALY,2021,...,author,33746753.0,"Romanato, Filippo","Romanato, Filippo","Romanato, F",Filippo,Romanato,matched,33746753.0,0
1349851,1349852,46379898.0,qc43,5,2.0,HKU UCAS JOINT INST THEORET & COMPUTAT PHYS HONG,NaN,HONG KONG,PEOPLES R CHINA,2021,...,author,44231961.0,"Yao, Wang","Yao, Wang","Yao, W",Wang,Yao,matched,44231961.0,0
1350217,1350218,46501668.0,qc43,2,1.0,UV BOOSTING,NaN,BOULOGNE BILLANCOURT,FRANCE,2021,...,author,22150607.0,"Ledermann, Loic","Ledermann, Loic","Ledermann, L",Loic,Ledermann,matched,22150607.0,0
1350844,1350845,46578956.0,qc43,5,6.0,SHENZHEN JL COMPUTAT SCI & APPL RES INST,NaN,SHENZHEN,PEOPLES R CHINA,2021,...,author,12223350.0,"Frauenheim, Thomas","Frauenheim, Thomas","Frauenheim, T",Thomas,Frauenheim,matched,12223350.0,0

In [36]:
df[df['full_name'] == 'Tittel, Wolfgang']

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4348,4349,7448624.0,qc111,1,1.0,UNIV GENOA GAP,APPL PHYS GRP,GENEVA,SWITZERLAND,2001,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814970.0,0
13767,13768,18141708.0,qc111,1,10.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2011,...,author,39814968.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,0
13774,13775,18141708.0,qc111,2,10.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2011,...,author,39814968.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,0
15657,15658,20280021.0,qc111,1,10.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2012,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
15664,15665,20280021.0,qc111,2,10.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2012,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210831,1210832,11236815.0,qc43,2,NaN,UNIV NICE,PHYS MAT CONDENSEE LAB,NICE,FRANCE,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814970.0,0
1210838,1210839,11236815.0,qc43,3,NaN,UNIV GENEVA,DEPT PHYS MAT CONDENSEE,GENEVA,SWITZERLAND,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814970.0,0
1210845,1210846,11236815.0,qc43,4,NaN,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2006,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,random,39814968.0,1
1239939,1239940,19831747.0,qc43,3,6.0,UNIV CALGARY,INST QUANTUM INFORMAT SCI,CALGARY,CANADA,2011,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1
1239941,1239942,19831747.0,qc43,4,6.0,UNIV CALGARY,DEPT PHYS & ASTRON,CALGARY,CANADA,2011,...,author,39814970.0,"Tittel, Wolfgang","Tittel, Wolfgang","Tittel, W",Wolfgang,Tittel,matched,39814968.0,1

- Tittel, Wolfgang이 실제로 이직한건지 알 수가 없음
- 확인해본 결과, Tittel, Wolfgang은 UNIV GENEVA에서 박사학위를 받고, UNIV CALGARY에서 교수로 재직 중
- 즉, UNIV GENEVA와 UNIV CALGARY에서 진행한 연구는 동일인물일 가능성이 높음
- 하지만, UNIV NICE는 관련 없음 -> 동명이인

In [40]:
sample = df[df['full_name'] == 'Weihs, Gregor']
sample

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
4329,4330,7200573.0,qc111,1,2.0,UNIV VIENNA,INST EXPT PHYS,VIENNA,AUSTRIA,2003,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
4349,4350,7448624.0,qc111,2,2.0,UNIV VIENNA UNIVIE,INST EXPT PHYS,VIENNA,AUSTRIA,2001,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11276,11277,15274405.0,qc111,1,4.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11280,11281,15274405.0,qc111,2,4.0,UNIV WATERLOO,DEPT PHYS,WATERLOO,CANADA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
11282,11283,15274405.0,qc111,4,4.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2009,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140798,1140799,21762254.0,qc423,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1185502,1185503,44846533.0,qc423,1,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1247914,1247915,22611039.0,qc43,1,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2013,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1346455,1346456,45608699.0,qc43,2,7.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0
1346659,1346660,45652339.0,qc43,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2021,...,author,42547602.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,0

In [42]:
# show rows where author_id_te_cleaned is not 42547602.0
sample[sample['author_id_te'] != 42547602.0]

,Unnamed: 0,pubid,qc_category,addr_num,SEQ_NO,organization_cleaned,suborganization,city,country,pubyear,...,role,author_id_te,display_name,full_name,wos_standard,first_name,last_name,matched,author_id_te_cleaned,cleaned_or_not
16902,16903,21762254.0,qc111,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
16903,16904,21762254.0,qc111,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
16904,16905,21762254.0,qc111,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
26413,26414,34524709.0,qc111,3,6.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2017,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798592,798593,21762254.0,qc41,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798593,798594,21762254.0,qc41,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
798594,798595,21762254.0,qc41,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140796,1140797,21762254.0,qc423,1,3.0,UNIV INNSBRUCK,INST EXPT PHYS,INNSBRUCK,AUSTRIA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140797,1140798,21762254.0,qc423,2,3.0,UNIV WATERLOO,INST QUANTUM COMP,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1
1140798,1140799,21762254.0,qc423,3,3.0,UNIV WATERLOO,DEPT PHYS & ASTRON,WATERLOO,CANADA,2012,...,author,42547652.0,"Weihs, Gregor","Weihs, Gregor","Weihs, G",Gregor,Weihs,matched,42547602.0,1

- 소속기관이 바뀌어도 author_id_te는 대부분 동일한 경우
- Weihs, Gregor는 캐나다, 도쿄, 미국에서 교수 재직함 
- 현재는 오스트리아에서 교수 재직 중
- 위 경우, 모두 같은 author_id_te_cleaned로 정제됨

In [44]:
df.to_csv('quant_author_ed_eu_val_cleaned.csv', index=False)